@{
    ViewBag.Title = "Details";
}
<script>
    var sensorId = '@ViewBag.SensorId';
    var home = '@ViewBag.ID';
</script>
@{
    var home = ViewBag.ID;
    var sensorId = ViewBag.SensorId;
}

<div ng-app="app" ng-controller="sensorController" data-ng-init="getSensorById()">
    <h2>@ViewBag.ID</h2>
    <h2>Details - {{sensorDetailModel.Name}}</h2>
    <div class="row">
        <div class="col-md-10">
            <table class="table up">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>TargetApiLink</th>
                    <th>Unit</th>
                    <th>Room</th>
                    <th>Floor</th>
                </tr>
                </thead>
                <tr>
                    <td ng-bind="sensorDetailModel.Name"></td>
                    <td ng-bind="sensorDetailModel.Type"></td>
                    <td ng-bind="sensorDetailModel.TargetApiLink"></td>
                    <td ng-bind="sensorDetailModel.Unit"></td>
                    <td ng-bind="sensorDetailModel.Room"></td>
                    <td ng-bind="sensorDetailModel.Floor"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Terug naar home" , "Index", "Sensor", new {id = ViewBag.ID}, new {@class = "btn btn-default"})
            <br/>
            <br/>
            @Html.ActionLink("Update Sensor", "Update", "Sensor", new { id = ViewBag.ID, sensorId = ViewBag.SensorId }, new { @class = "btn btn-default" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <three-month-chart sensor-detail-model="sensorDetailModel"></three-month-chart>
        </div>
        <div class="col-md-3">
            <counter-directive sensor-detail-model="sensorDetailModel"></counter-directive>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>Correlations with other sensors</h2>
            <sensor-correlation-chart sensor-detail-model="sensorDetailModel" home=@ViewBag.ID></sensor-correlation-chart>
        </div>
    </div>
</div>
